In [1]:
data = pd.read_csv("data/climate_data.csv")

NameError: name 'pd' is not defined

In [16]:
import pandas as pd
data = pd.read_csv("data/climate_data.csv")

In [4]:
print(data.head())

       STATION                           NAME  LATITUDE  LONGITUDE  ELEVATION  \
0  USW00023272  SAN FRANCISCO DOWNTOWN, CA US   37.7705  -122.4269       45.7
1  USW00023272  SAN FRANCISCO DOWNTOWN, CA US   37.7705  -122.4269       45.7
2  USW00023272  SAN FRANCISCO DOWNTOWN, CA US   37.7705  -122.4269       45.7
3  USW00023272  SAN FRANCISCO DOWNTOWN, CA US   37.7705  -122.4269       45.7
4  USW00023272  SAN FRANCISCO DOWNTOWN, CA US   37.7705  -122.4269       45.7

         DATE  TMAX  TMIN
0  1986-01-01  57.0  55.0
1  1986-01-02  58.0  54.0
2  1986-01-03  61.0  54.0
3  1986-01-04  62.0  54.0
4  1986-01-05  62.0  56.0

In [5]:
# Check for missing values
print(data.isnull().sum())

STATION         0
NAME            0
LATITUDE        0
LONGITUDE       0
ELEVATION       0
DATE            0
TMAX         5000
TMIN         5000
dtype: int64

In [6]:

# Check for invalid values (e.g., -9999)
print(data[(data['TMAX'] == -9999) | (data['TMIN'] == -9999)])

Empty DataFrame
Columns: [STATION, NAME, LATITUDE, LONGITUDE, ELEVATION, DATE, TMAX, TMIN]
Index: []

In [7]:
# Percentage of missing values
missing_percentage = data[['TMAX', 'TMIN']].isnull().mean() * 100
print(missing_percentage)

TMAX    26.009155
TMIN    26.009155
dtype: float64

In [12]:
# Check rows with missing TMAX or TMIN
missing_data = data[data['TMAX'].isnull() | data['TMIN'].isnull()]
print(missing_data[['DATE', 'STATION', 'TMAX', 'TMIN']].tail(10))

             DATE      STATION  TMAX  TMIN
19214  2023-09-21  US1CASF0004   NaN   NaN
19215  2023-09-22  US1CASF0004   NaN   NaN
19216  2023-09-23  US1CASF0004   NaN   NaN
19217  2023-09-24  US1CASF0004   NaN   NaN
19218  2023-09-25  US1CASF0004   NaN   NaN
19219  2023-09-26  US1CASF0004   NaN   NaN
19220  2023-09-27  US1CASF0004   NaN   NaN
19221  2023-09-28  US1CASF0004   NaN   NaN
19222  2023-09-29  US1CASF0004   NaN   NaN
19223  2023-09-30  US1CASF0004   NaN   NaN

print(data.tail())

In [14]:
print(data.tail())

           STATION                         NAME   LATITUDE   LONGITUDE  \
19219  US1CASF0004  SAN FRANCISCO 1.1 SW, CA US  37.765001 -122.434753
19220  US1CASF0004  SAN FRANCISCO 1.1 SW, CA US  37.765001 -122.434753
19221  US1CASF0004  SAN FRANCISCO 1.1 SW, CA US  37.765001 -122.434753
19222  US1CASF0004  SAN FRANCISCO 1.1 SW, CA US  37.765001 -122.434753
19223  US1CASF0004  SAN FRANCISCO 1.1 SW, CA US  37.765001 -122.434753

       ELEVATION        DATE  TMAX  TMIN
19219       59.1  2023-09-26   NaN   NaN
19220       59.1  2023-09-27   NaN   NaN
19221       59.1  2023-09-28   NaN   NaN
19222       59.1  2023-09-29   NaN   NaN
19223       59.1  2023-09-30   NaN   NaN

In [17]:
data = pd.read_csv("data/climate_data.csv")
print(data.head())

       STATION                           NAME  LATITUDE  LONGITUDE  ELEVATION  \
0  USW00023272  SAN FRANCISCO DOWNTOWN, CA US   37.7705  -122.4269       45.7
1  USW00023272  SAN FRANCISCO DOWNTOWN, CA US   37.7705  -122.4269       45.7
2  USW00023272  SAN FRANCISCO DOWNTOWN, CA US   37.7705  -122.4269       45.7
3  USW00023272  SAN FRANCISCO DOWNTOWN, CA US   37.7705  -122.4269       45.7
4  USW00023272  SAN FRANCISCO DOWNTOWN, CA US   37.7705  -122.4269       45.7

         DATE  TMAX  TMIN
0  1986-01-01  57.0  55.0
1  1986-01-02  58.0  54.0
2  1986-01-03  61.0  54.0
3  1986-01-04  62.0  54.0
4  1986-01-05  62.0  56.0

In [18]:
print(data['STATION'].unique())  # Should show only one station

['USW00023272']

In [19]:
print(data.isnull().sum())      # Should show 0 missing values for TMAX and TMIN

STATION       0
NAME          0
LATITUDE      0
LONGITUDE     0
ELEVATION     0
DATE          0
TMAX         21
TMIN         21
dtype: int64

In [20]:
data = data.dropna(subset=['TMAX', 'TMIN'])

In [21]:
print(data.isnull().sum())      # Should show 0 missing values for TMAX and TMIN

STATION      0
NAME         0
LATITUDE     0
LONGITUDE    0
ELEVATION    0
DATE         0
TMAX         0
TMIN         0
dtype: int64

In [22]:
# Convert temperatures to Celsius
data['TMAX_C'] = (data['TMAX'] - 32) * 5 / 9
data['TMIN_C'] = (data['TMIN'] - 32) * 5 / 9

In [23]:
data['TAVG_C'] = (data['TMAX_C'] + data['TMIN_C']) / 2
data['TRANGE_C'] = data['TMAX_C'] - data['TMIN_C']
print(data[['DATE', 'TMAX_C', 'TMIN_C', 'TAVG_C', 'TRANGE_C']].head())
print(data[['TMAX_C', 'TMIN_C', 'TAVG_C', 'TRANGE_C']].describe())

         DATE     TMAX_C     TMIN_C     TAVG_C  TRANGE_C
0  1986-01-01  13.888889  12.777778  13.333333  1.111111
1  1986-01-02  14.444444  12.222222  13.333333  2.222222
2  1986-01-03  16.111111  12.222222  14.166667  3.888889
3  1986-01-04  16.666667  12.222222  14.444444  4.444444
4  1986-01-05  16.666667  13.333333  15.000000  3.333333
             TMAX_C        TMIN_C        TAVG_C      TRANGE_C
count  14222.000000  14222.000000  14222.000000  14222.000000
mean      18.290676     10.847084     14.568880      7.443593
std        4.277628      2.540045      3.130388      3.209759
min        5.000000     -2.222222      1.388889      0.555556
25%       15.555556      9.444444     12.500000      5.000000
50%       17.777778     11.111111     14.444444      6.666667
75%       20.555556     12.777778     16.388889      8.888889
max       41.111111     23.888889     31.388889     25.000000

In [24]:
%%writefile example.py
print("This code will be saved to example.py")

Writing example.py

In [28]:
%%writefile src/process_climate_data.py
import pandas as pd

# Step 1: Load the data
data = pd.read_csv("data/climate_data.csv")

# Step 2: Drop rows with missing TMAX or TMIN
data = data.dropna(subset=["TMAX", "TMIN"])

# Step 3: Convert Fahrenheit to Celsius
data["TMAX_C"] = (data["TMAX"] - 32) * 5 / 9
data["TMIN_C"] = (data["TMIN"] - 32) * 5 / 9

# Step 4: Add derived columns
data["TAVG_C"] = (data["TMAX_C"] + data["TMIN_C"]) / 2
data["TRANGE_C"] = data["TMAX_C"] - data["TMIN_C"]

# Step 5: Save the processed dataset
data.to_csv("data/processed_climate_data.csv", index=False)

Writing src/process_climate_data.py

In [30]:
# Import the function from the script (ensure it's in the same directory or update path)
from src.process_data import process_climate_data

# Call the function with the input and output file paths
processed_data = process_climate_data('data/climate_data.csv', 'data/processed_climate_data.csv')

# Display the processed data
print(processed_data.head())

       STATION                           NAME  LATITUDE  LONGITUDE  ELEVATION  \
0  USW00023272  SAN FRANCISCO DOWNTOWN, CA US   37.7705  -122.4269       45.7
1  USW00023272  SAN FRANCISCO DOWNTOWN, CA US   37.7705  -122.4269       45.7
2  USW00023272  SAN FRANCISCO DOWNTOWN, CA US   37.7705  -122.4269       45.7
3  USW00023272  SAN FRANCISCO DOWNTOWN, CA US   37.7705  -122.4269       45.7
4  USW00023272  SAN FRANCISCO DOWNTOWN, CA US   37.7705  -122.4269       45.7

         DATE  TMAX  TMIN     TMAX_C     TMIN_C     TAVG_C  TRANGE_C
0  1986-01-01  57.0  55.0  13.888889  12.777778  13.333333  1.111111
1  1986-01-02  58.0  54.0  14.444444  12.222222  13.333333  2.222222
2  1986-01-03  61.0  54.0  16.111111  12.222222  14.166667  3.888889
3  1986-01-04  62.0  54.0  16.666667  12.222222  14.444444  4.444444
4  1986-01-05  62.0  56.0  16.666667  13.333333  15.000000  3.333333